{% extends 'base.html' %}

{% block title %}
입고
{% endblock %}
{% block content %}
<div class="container">
    <h2 class="title-center"> 입고 </h2>
    <form class="form-area" method="post" action="/inbound_create/">
        {% csrf_token %}
        {{form}}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <hr>
        <div style="float: right">
            <button type="submit" class="btn btn-primary">입고</button>
            <a href="/product_list" class="btn btn-secondary">홈으로</a>
        </div>
    </form>
</div>
{% endblock %}