{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">상품명</th>
                <th scope="col">코드</th>
                <th scope="col">설명</th>
                <th scope="col">가격</th>
                <th scope="col">사이즈</th>
                <th scope="col">현재수량</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{product.name}}</th>
                <td>{{product.code}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.size}}</td>
                <td>{{product.stock_quantity}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}